.container {
    display: grid;
    justify-content: center;
    margin: 50px auto;
}

.topbar {
    display: flex;
    justify-content: space-between;
}

.input {
    display: flex;
    align-items: flex-end;
}

.selectTheme {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.selectTheme .title {
    display: flex;
    width: 80px;
    margin-left: 1rem;
    padding: 0px 10px;
    justify-content: space-between;
    text-align: center;
}

.selectTheme .title p {
    font-size: 15px;
}

.selectTheme .chooseTheme {
    padding: 5px 7px;
    width: 75px;
    margin-left: 1rem;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.theme1,
.theme2,
.theme3 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.input-field {
    width: 100%;
    height: max-content;
    margin: 1rem 0px;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    display: grid;
    justify-content: end;
}

.previous-operand {
    text-align: end;
    width: 350px;
    word-wrap: break-word;
}

.current-operand {
    font-size: 2.5rem;
    margin-top: 4px;
    text-align: end;
    width: 350px;
    word-wrap: break-word;
}

.allButton {
    display: grid;
    grid-template-columns: repeat(4, 82px);
    grid-template-rows: repeat(5, 65px);
    padding: 20px 15px;
    grid-gap: 5px;
    border-radius: 5px;
}

.allButton button {
    margin: 5px 6px;
    padding: 8px 0;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

.delete,
.reset {
    font-size: 1.1rem !important;
}

.column-span {
    grid-column: span 2;
}

.allButton button:active {
    transform: translateY(2px);
    box-shadow: none !important;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: white;
}

@media (max-width: 853px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .current-operand,
    .previous-operand {
        width: 290px;
    }
    .allButton {
        height: fit-content;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(5, 70px);
        align-content: flex-start;
        grid-gap: 8px;
        padding: 2rem 1rem;
    }
    .allButton button {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
    }
    .container {
        display: grid;
        justify-content: center;
        margin: 50px auto;
    }
    .topbar {
        display: flex;
        justify-content: space-between;
    }
    .input {
        display: flex;
        align-items: flex-end;
    }
    .selectTheme {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .selectTheme .title {
        display: flex;
        width: 80px;
        margin-left: 1rem;
        padding: 0px 10px;
        justify-content: space-between;
        text-align: center;
    }
    .selectTheme .title p {
        font-size: 15px;
    }
    .selectTheme .chooseTheme {
        padding: 5px 7px;
        width: 75px;
        margin-left: 1rem;
        border-radius: 20px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .theme1,
    .theme2,
    .theme3 {
        width: 15px;
        height: 15px;
        border-radius: 100%;
    }
    .input-field {
        width: 100%;
        height: max-content;
        margin: 1rem 0px;
        padding: 1.5rem 1rem;
        border-radius: 5px;
        display: grid;
        justify-content: end;
    }
    .previous-operand {
        text-align: end;
        width: 350px;
        word-wrap: break-word;
    }
    .current-operand {
        font-size: 2.5rem;
        margin-top: 4px;
        text-align: end;
        width: 350px;
        word-wrap: break-word;
    }
    .allButton {
        display: grid;
        grid-template-columns: repeat(4, 82px);
        grid-template-rows: repeat(5, 65px);
        padding: 20px 15px;
        grid-gap: 5px;
        border-radius: 5px;
    }
    .allButton button {
        margin: 5px 6px;
        padding: 8px 0;
        font-size: 1.5rem;
        border: none;
        border-radius: 5px;
    }
    .delete,
    .reset {
        font-size: 1.1rem !important;
    }
    .column-span {
        grid-column: span 2;
    }
    .allButton button:active {
        transform: translateY(2px);
        box-shadow: none !important;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .attribution a {
        color: white;
    }
}

@media (max-width: 853px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .current-operand,
    .previous-operand {
        width: 290px;
    }
    .allButton {
        height: fit-content;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(5, 70px);
        align-content: flex-start;
        grid-gap: 8px;
        padding: 2rem 1rem;
    }
    .allButton button {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
    }
}